* {
  margin: 0;
  padding: 0;
}

.hero__section {
  height: 100vh;
  /* background: url("../../../assets/welcome/bannerimg.webp"); */
  background: url("../../../assets/welcome/1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
.welcome__hero-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__card {
  background: rgba(250, 250, 250, 0.9);
  border-bottom: 4px solid #55af00;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}
.card__content {
  text-align: center;
}
.card__content .card__subheading {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: monumentextended, sans-serif;
  line-height: 1.56666667;
  text-rendering: optimizeLegibilit;
}
.card__content .card__heading {
  font-size: 8vmin;
  text-transform: capitalize;
  font-family: monumentextended, sans-serif;
  line-height: 1;
  margin-bottom: 2rem;
  color: #000;
  letter-spacing: -0.035em;
}
.card__content button {
  background: #55af00;
  border-color: #55af00;
  padding: 1rem 2.5rem;
  border-radius: 500px;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  border: none;
  color: #fff;
  font-family: monumentextended, sans-serif;
  cursor: pointer;
}
@media screen and (min-device-width: 1024px) {
  .hero__card {
    width: 700px;
    position: relative;
  }
}
@media screen and (max-device-width: 768px) {
  .hero__section {
    height: 70vh;
  }
}
.fp-watermark {
  display: none;
}
